* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(199,33%,15%);
}
/* pantalla de loggin */
.loggin {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
   
    text-align: center;
}

.game-header {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.x-text {
    color:  #00d9d0;  /* Color para la X */
}

.o-text {
    color:#f7b529;  /* Color para la O */
}

/* Tarjeta de selección del jugador */
.card {
    padding: 20px;
    background-color:hsl(198, 35%, 24%);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: hsl(200,23%,72%);
    align-items: center;
    justify-content: center;
}

.card h5 {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    background-color: hsl(199,33%,15%);/* Fondo oscuro para el botón */
    padding: 10px;
    border-radius: 12px;
}

/* Estilos de los botones */
.button-group .boton_1{
    width:  130px;
    height: 40px;
    font-size: 2rem;
    font-weight: 900;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: hsl(199,33%,15%);
    color: hsl(200,23%,72%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-group .boton_2{ /* este es el jugador selecionado */
    width:  130px;
    height: 40px;
    font-size: 2rem;
    font-weight: 900;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: hsl(199,33%,15%);
    color: hsl(200,23%,72%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.seleccionado{
    width:  130px;
    height: 40px;
    font-size: 2rem;
    font-weight: 900;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: hsl(200,23%,72%) !important;
    color: hsl(199,33%,15%)!important;
    display: flex;
    justify-content: center;
    align-items: center;
}



.card p {
    margin-top: 1rem;
    color: hsl(200,23%,72%);
}

/* Botones de modo de juego */
.game-mode .boton_ga {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    font-weight: 900;
}

.CPUE {
    background-color: hsl(39,88%,58%);
    color: hsl(199,33%,15%);
}

.player {
    background-color: hsl(178,60%,48%);
    color: hsl(199,33%,15%);
}

/* Hover y focus para los botones */
.btn:hover,
.btn-new-game:hover {
    opacity: 0.9;
}

.btn:focus,
.btn-new-game:focus {
    outline: none;
}





/* pantalla del juego */
.game-container {
    width: 350px;
    text-align: center;
    background-color: none;
    border: none;
    border-radius: 10px;
    padding: 20px;

}
/* player selecion */
.player-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.xo-container {
    display: flex;
    gap: 5px; 
    margin-right: 3rem;
}

.x-icon {
    font-size: 30px;
    color: #00d9d0; 
    font-weight: 900;
}

.o-icon {
    font-size: 30px;
    color: #f7b529; 
    font-weight: 900;
}

.player-btn {
    padding: 10px 20px;
    border: none;
    background-color:hsl(200,35%,19%);
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-weight: 900;
}
.reload-button {
    width: 60px;
    height: 60px;
    background-color: #cbd5e1; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
   
}

.reload-button i {
    font-size: 24px;
    color: #2f3e46; 
}
/* game board */
.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px 0;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: hsl(200,35%,19%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
   
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* game info */

.button-container {
    width: 345px;
    display: flex;
    gap: 1rem;
}

.score-button {
    height: 75px;
    width: 140px;
    font-size: 16px;
    color: hsl(199,33%,15%);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.x-button {
    background-color: hsl(178,60%,48%); 
}

.ties-button {
    background-color: hsl(200,23%,72%); 
}

.o-button {
    background-color: hsl(39,88%,58%); 
}

/* inicio del modal */

.modal {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: hsl(200,35%,19%); 
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-content h2 {
    font-size: .6rem;
    color: hsl(200,23%,72%);
    margin-bottom: 1rem;
}

.modal-content p {
    color: hsl(178,60%,48%);
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
}
.modal-content .button-container {
    display: flex;
    justify-content: center;
}

.modal-content button {
    color: hsl(208,35%,7%);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: .6rem;
    transition: background-color 0.3s ease;
    font-weight: 900;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

.quit{
    background: hsl(200,23%,72%);
    
}
.next{
    background-color: hsl(39,88%,58%);
}

.hidden{
    display: none;
}
